*, *::before, *::after {
  box-sizing: border-box;
}
html,
body {
  background-color: black;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
.capture_video {
  display: none;
}
.capture_canvas {
  display: none;
}